<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="minimal-ui,initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width"/>
	<meta name="msapplication-tap-highlight" content="no" />
	<title>Page Template</title>

	<!--  Other PC libs -->

	<!-- <script src="/resources/portalclient/dist/all.js"></script> -->
	<script src="/resources/core/dist/base.js"></script>
	<script src="/resources/core/dist/core.js"></script>


</head>
<body>

	<div id="main">
		<div id="ngWidget" ng-cloak ng-controller="MainCtrl as mainCtrl">
			<h3>Hello {{mainCtrl.name}}</h3>
		</div>
	</div>

</body>

 <script>
	require(['lp/main'], function(main) {
		'use strict';
		window.requireWidget( document.getElementById('ngWidget') ,'widgets/ng-widget-sample/scripts/index');
	});
</script>
</html>
